.cursor-pointer {
  cursor: pointer;
}

.selected-item {
  background-color: rgba(142, 188, 190, 0.577);
}

ul {
  list-style-type: none;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
